body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.display input {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    background-color: #e0e0e0;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d0d0d0;
}

.operator {
    background-color: #ff9500;
    color: #fff;
}

.operator:hover {
    background-color: #e08500;
}

.zero {
    grid-column: span 2;
}
